<!DOCTYPE html>
<html lang="en">

<head>
  <%-partial('head')%>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div class="panel">
    <form action="/dashboard" method="post">
      <div class="mb-3 w-100">
        <label for="token" class="form-label">Channel access token</label>
        <input type="text" class="form-control" id="token" name="token">
      </div>
      <button type="submit" class="btn btn-primary">Get Started</button>
    </form>
  </div>
</body>

</html>