.panel {
    display: flex;
}

.richmenu {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.richmenu:first-child {
    font-weight: 500;
}